<div class="feed">
    {{#each posts}}
    <div class="card">
        {{#if this.showTitle}}
            <h1 class="card-title">{{this.title}}</h1>
        {{/if}}
        <p class="card-text">{{{this.description}}}</p>
        <div class="card-img">
            {{#each this.images}}
            <span>
                <a href="/{{this}}"><img src="/{{this}}"></a>
            </span>
            {{/each}}
        </div>
        <p class="date">
            <a href="/post/{{this.type}}/{{this.id}}">
                {{this.createdAt}}
            </a>
            <span>
                {{#each this.tags}}
                <a class="tag" href="/tags/{{this}}">{{this}}</a>
                {{/each}}
            </span>
            <span class="cool btn btn-secondary" onclick="likePost('{{this.type}}', {{this.id}})" id="btn_{{this.type}}_{{this.id}}">
              &#128077; ({{this.likes}})
            </span>
        </p>
    </div>
    {{/each}}
</div>
