<footer>
    <div>Mark Powers (<span class="email">mark</span>) &#169; 2020 </div>
    <div>
        <a href="/feed.xml">RSS feed</a>
        <span class="spacer"></span>
        <a href="https://github.com/Mark-Powers">GitHub</a>
        <span class="spacer"></span>
        <a href="https://git.marks.kitchen">Git Repos</a>
        <span class="spacer"></span>
        <a href="https://fosstodon.org/@markp">Mastodon</a>
        <span class="spacer"></span>
        <br>
    </div>
    <div>
      <noscript>Enable javascript for a background image</noscript>
      <script src="/js/background.js"></script>
    </div>
</footer>
