<!doctype html>
<html lang="en">

<head>
    <title>Mark's Kitchen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
    
    <h1>
        <a class="navigation" href="/" title="marks.kitchen">&lt;</a>
        Miscellany
    </h1>
    {{> navigation}}
    <div>
        <a href="projects" class="btn btn-primary">Projects</a>
    </div>
    <div>
        <a href="chess" class="btn btn-primary">Chess</a>
    </div>
    <div>
        <a href="word-square" class="btn btn-primary">Word Play</a>
    </nav>
</body>

</html>