<nav class="titlebar">
    <div>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/bread" class="btn btn-primary">Bread</a>
        <a href="/blog" class="btn btn-primary">Blog</a>
        <a href="https://games.marks.kitchen" class="btn btn-primary">Games</a>
        <a href="/email" class="btn btn-primary">Email</a>
        <a href="/projects" class="btn btn-primary">Projects</a>
        <a href="https://wiki.marks.kitchen/public" class="btn btn-primary">Wiki</a>
        <a href="/misc" class="btn btn-primary">Misc</a>
    </div>
</nav>
